{% extends "main.html" %}
    {% block head %} 
        <title>All Posts</title>
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    {% endblock head %}

    {% block head-extra %}
    {% endblock head-extra %}

    {% block content %}
        <div class="container-fluid">
            <div class="{% if object_list %}grid{% else %}row {% endif %} " >
                <div class="grid__col_sizer"></div>
                <div class="grid__gutter-sizer"></div>
                {% if object_list %}
                    {% for post in object_list %}
                        <div class="grid__item">
                            <div class="hhcard">
                                <a href="{{ post.get_absolute_url }}" class="inner">
                                            <div class="author">{{post.creator}}</div>
                                        {% if post.embed_file %}
                                            {% if post.embed_file.link %}
                                                {% load micawber_tags %}
                                                {{ post.embed_file.link|oembed:"460x600" }}
                                            {% else %}
                                                {{ object.embed_file.embed_code|safe }}
                                            {% endif %}
                                        {% elif post.image %}
                                            <img src="{{ post.image.url }}" width="100%" alt="{{ post.image.alt }}" class="header_image" /> 
                                        {% else %}
                                            <img src="{{post.external_image}}" width="100%" alt="{{ post.image.alt }}" class="header_image" style="-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" > 
                                        {% endif %}
                                        <div class="text">
                                            <h3 class="blog-list-title">{{ post.title }}</h3>
                                            <p>{{ post.body|truncatewords:15 }}</p>
                                        </div>
                                        <div class="small footer">
                                            {% if post.date_published %}
                                                {{ post.date_published }} by 
                                            {% endif %}
                                        </div>

                                        {% for comment in post.get_obj_latest_comments %}
                                            {% if forloop.counter < 4 %}
                                                {{forloop.counter}})<b>Comment by - {{ comment.user_name }}:</b>  {{ comment.comment }} <br>
                                            {% endif %}
                                        {% endfor %}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                                        
                {% else %}
                    <div class="col-md-12">
                        <p>Oh, snap. Looks like we were too busy (serving the world) to write any blog posts. Sorry.</p>
                    </div>
                {% endif %}
            </div>
            
        </div>     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
        <script src="https://unpkg.com/infinite-scroll@4/dist/infinite-scroll.pkgd.js"  crossorigin="anonymous"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"  crossorigin="anonymous"></script>
        
    {% endblock %}

    {% block library_css %}
        .grid {max-width: 1400px;min-width: 1400px;margin: 0 auto;}
        .grid__col_sizer {width: 32%; }
        .grid__gutter-sizer { width: 2%;}
        .grid__item {width: 32.5%;margin-bottom: 20px;float: left;min-width: 460px;max-width: 460px;}
        .grid__item img { display: block; max-width: 100%; }
        .page-load-status {display: none; padding-top: 20px;border-top: 1px solid #DDD;text-align: center;color: #777;}
        .loader-ellips {font-size: 20px; position: relative;width: 4em;height: 1em;margin: 10px auto;}
        .loader-ellips__dot {display: block;width: 1em;height: 1em;border-radius: 0.5em;background: #555;position: absolute;animation-duration: 0.5s;animation-timing-function: ease;animation-iteration-count: infinite;}

        @media screen and (max-width: 1399px) {
            .grid {max-width: unset;min-width: unset;}
            .grid__item, .grid__col_sizer {width: 49%; min-width: unset; }
        }
        @media screen and (max-width: 920px) {
            .grid {max-width: unset;min-width: unset;}
            .grid__item, .grid__col_sizer {min-width: unset; }
        }
        @media screen and (max-width: 460px) {
            .grid {max-widthunset%;min-width:unset;}
            .grid__item, .grid__col_sizer {width: 100%;min-width: 100%; }
        }
        .loader-ellips__dot:nth-child(1), .loader-ellips__dot:nth-child(2) {left: 0;}
        .loader-ellips__dot:nth-child(3) { left: 1.5em; }
        .loader-ellips__dot:nth-child(4) { left: 3em; }
        @keyframes reveal { from { transform: scale(0.001); } to { transform: scale(1); } }
        @keyframes slide { to { transform: translateX(1.5em) } }
        .loader-ellips__dot:nth-child(1) { animation-name: reveal; }
        .loader-ellips__dot:nth-child(2), .loader-ellips__dot:nth-child(3) { animation-name: slide; }
        .loader-ellips__dot:nth-child(4) {animation-name: reveal;animation-direction: reverse;}

    {% endblock library_css %}

    {% block extra_scripts %}
        let grid = document.querySelector('.grid');

        let msnry = new Masonry( grid, {
            itemSelector: 'none', // select none at first
            columnWidth: '.grid__col_sizer',
            gutter: '.grid__gutter-sizer',
            percentPosition: true,
            stagger: 30,
            // nicer reveal transition
            visibleStyle: { transform: 'translateY(0)', opacity: 1 },
            hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
        });

        // initial items reveal
        imagesLoaded( grid, function() {
            grid.classList.remove('are-images-unloaded');
            msnry.options.itemSelector = '.grid__item';
            let items = grid.querySelectorAll('.grid__item');
            msnry.appended( items );
        });

        var nextSlugs = [
            {% if is_paginated %}
            // {{ page_obj}}
            {% for page in paginator %}
                {% if page.has_next %}
                    "?page={{ page.next_page_number }}",
                {% endif %}
            {% endfor %}
            {% endif %}
        ];

        function getPath() {
            let slug = nextSlugs[ this.loadCount ];
            if ( slug ) {
                return `${slug}`;
            }
        }

        //--------------- init Infinte Scroll ----------------------//
        let infScroll = new InfiniteScroll( grid, {
            path: getPath,
            append: '.grid__item',
            outlayer: msnry,
            prefill: false,
            history: false,
            status: '.page-load-status',
        });

    {% endblock extra_scripts %}
