{% extends "main.html" %}
{% load comments %}
{% load static %}

{% block head %}
<title>All Posts</title>
<script src="{% static 'infinite-scroll.pkgd.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'masonry.pkgd.js' %}" crossorigin="anonymous"></script>
{% endblock head %}

{% block head-extra %}

{% endblock head-extra %}

{% block content %}
    <div class="container container-fluid">
        {% if object_list %}
            <h1 class="page-title">All Posts</h1>
            <div class="grid are-images-unloaded">
                <div class="grid__col_sizer"></div>
                <div class="grid__gutter_sizer"></div>
                {% for post in object_list %}
                    <div class="grid__item ss-card bg-white shadow-sm rounded border">
                        <div class="hhcard">
                            <div class="ss-card-header p-3 border-bottom">
                                <span class="ss-author mr-3">{{post.creator}}</span>
                                {% if post.date_published %}
                                <span class="ss-published">{{ post.date_published }}</span>
                                {% endif %}
                            </div>
                            {% if post.embed_file %}
                                {% if post.embed_file.link %}
                                    {% load micawber_tags %}
                                    <div class="ratio ratio-16x9">
                                        {{ post.embed_file.link|oembed:"460x600" }}
                                    </div>
                                {% else %}
                                    <div class="ratio ratio-16x9">
                                        {{ object.embed_file.embed_code|safe }}
                                    </div>
                                {% endif %}
                            {% elif post.image %}
                                <img src="{{ post.image.url }}" width="100%" alt="{{ post.image.alt }}" class="header_image" />
                            {% elif post.external_image %}
                                <img src="{{post.external_image}}" width="100%" alt="{{ post.image.alt }}" class="header_image"
                                    style="-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;">
                            {% endif %}
                            <div class="card-content p-3">
                                <div class="text-section mb-5">
                                    <h5 class="blog-list-title">
                                        <a href="{{ post.get_absolute_url }}" class="inner">{{ post.title }}</a>
                                    </h5>
                                    {{ post.body|urlize|linebreaks|truncatewords:30 }}
                                </div>
                                <div class="ss-comment-section mb-4">
                                    <div class="comment mb-3">
                                        {% for comment in post.get_obj_latest_comments %}
                                            {% if forloop.counter < 4 %} 
                                                                                
                                                
                                                        <span class="username text-primary">
                                                            <p class="comment-byline text-uppercase mb-1 small">
                                                                <span class="small">#{{forloop.counter}}</span> <span username text-primary>{{comment.user_name }} - </span><span class="comment-datetime text-muted">{{comment.submit_date}}</span>
                                                            </p>
                                                        </span>                                                                                                   
                                                        <p class="comment-text">{{ comment.comment|urlize|linebreaks }}</p>
                                                
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% if request.user.is_authenticated %}
                                    {% get_comment_form for post as form %}
                                        <hr>
                                        <form class="form-inline" action="{% comment_form_target %}?next=/" method="post">
                                            {% csrf_token %}
                                            <div id="results"></div> <!-- errors go here -->
                                            {% for field in form %}
                                                {% if field.name == "timestamp" or field.name == "security_hash" or field.name == "object_pk" or field.name == "content_type" %}
                                                    {{field}}
                                                {% endif %}
                                                {% if field.name == "name" %}
                                                <input type="text" value="{{request.user}}" name="name" maxlength="50" style="display: none;"
                                                    id="id_name">
                                                {% endif %}
                                                {% if field.name == "email" %}
                                                <input type="email" value="{{request.user.email}}" name="email" style="display: none;"
                                                    id="id_email">
                                                {% endif %}
                                                {% if field.name == "url" %}
                                                    <input type="url" value="{% if  " localhost" not in request.META.HTTP_HOST and "127.0.0.1" not in request.META.HTTP_HOST %}{{ request.META.HTTP_HOST }}{% endif %}" name="url"
                                                        style="display: none;" id="id_url">
                                                {% endif %}
                                                {% if field.name|lower == "comment" %}
                                                <div class="d-flex">
                                                    <div class="flex-grow-1">

                                                        <label class="sr-only" for="add-reply">Add Reply</label>
                                                        <input type="text" name="comment" class="form-control w-100" id="id_comment"
                                                            placeholder="Add Reply">
                                                    </div>
                                                    <div class="ms-1">
                                                    <button type="submit" name="submit" value="Post" class="btn btn-primary">Reply</button>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                        </form>
                                {% else %}
                                    <p class="small"><a href="/accounts/login/?next=/{{ object.slug }}">Login</a> to comment.</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <p>No posts to show. Go add some posts!</p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
    
{% block library_css %}
{% endblock library_css %}

{% block extra_scripts %}
    // -- AJAX commenting --
    $('form').on('submit', function(event){
        event.preventDefault();
        console.log("form submitted!")  // sanity check
        // var $data = {{request.POST}};
        var $data = $(this).serialize();
        $.ajax({
            url : "/comments/post/", // the endpoint
            type : "POST", // http method
            data : $data , // data sent with the post request
            success : success_handler,
            error : errors_handler,
        });
    
        // handle a successful response
        function success_handler(json) {
            $('#post-text').val(''); // remove the value from the input
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
            alert("commented succesfully");
            $('form')[0].reset();
        };

        // handle a non-successful response
        function errors_handler(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        };
    });
    
    // --- masonry ---
    let grid = document.querySelector('.grid');

    let msnry = new Masonry( grid, {
        itemSelector: 'none', // select none at first
        columnWidth: '.grid__col_sizer',
        gutter: '.grid__gutter_sizer',
        percentPosition: true,
        is_paginated: false,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    });

    // initial items reveal
    imagesLoaded( grid, function() {
        grid.classList.remove('are-images-unloaded');
        msnry.options.itemSelector = '.grid__item';
        let items = grid.querySelectorAll('.grid__item');
        msnry.appended( items );
    });

    var nextSlugs = [{% if is_paginated %}{% for page in paginator %}{% if page.has_next %}"?page={{ page.next_page_number }}",{% endif %}{% endfor %}{% endif %}
    ];

    function getPath() {
        let slug = nextSlugs[ this.loadCount ];
        if ( slug ) {
            return `${slug}`;
        }
    }

    //--------------- init Infinte Scroll ----------------------//
    let infScroll = new InfiniteScroll( grid, {
        path: getPath,
        append: '.grid__item',
        outlayer: msnry,
        prefill: false,
        history: false,
        status: '.page-load-status',
    });



{% endblock extra_scripts %}
