{% extends "main.html" %}
{% load comments %}
{% load static %}

{% block head %}
<title>All Posts</title>
{% endblock head %}

{% block head-extra %}
<script src="{% static 'infinite-scroll.pkgd.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'masonry.pkgd.js' %}" crossorigin="anonymous"></script>
{% endblock head-extra %}

{% block content %}
    <div class="container container-fluid">
        {% if object_list %}
            <h1 class="page-title">All Posts</h1>
            <div class="grid are-images-unloaded">
                <div class="grid__col_sizer"></div>
                <div class="grid__gutter_sizer"></div>
                {% for post in object_list %}
                    <div class="grid__item ss-card bg-white shadow-sm rounded border">
                        <div class="hhcard" id="card">
                            <div class="ss-card-header p-3 border-bottom">
                                <span class="ss-author mr-3"><i class="far fa-caret-square-right"></i>{{post.creator}}</span>
                                {% if post.date_published %}
                                    <span class="ss-published">{{ post.date_published }}</span>
                                {% endif %}                                
                            </div>
                            {% if post.embed_file %}
                                {% if post.embed_file.link %}
                                    {% load micawber_tags %}
                                    <div class="ratio ratio-16x9">
                                        {{ post.embed_file.link|oembed:"460x600" }}
                                    </div>
                                {% else %}
                                    <div class="ratio ratio-16x9">
                                        {{ post.embed_file.embed_code|safe }}
                                    </div>
                                {% endif %}
                            {% elif post.image %}
                                <img src="{{ post.image.url }}" width="100%" alt="{{ post.image.alt }}" class="header_image" />
                            {% elif post.external_image %}
                                <img src="{{post.external_image}}" width="100%" alt="{{ post.image.alt }}" class="header_image"
                                    style="-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;">
                            {% endif %}
                            <div class="card-content p-3">
                                <div class="text-section mb-5">
                                    <h5 class="blog-list-title">
                                        <a href="{{ post.get_absolute_url }}" class="inner"><i><span class="fas fa-angle-double-right post-link-icon"></i></span>{{ post.title }}</a>
                                    </h5>
                                    {{ post.body|urlize|linebreaks|truncatewords:30 }}
                                </div>
                                <div class="ss-comment-section mb-4">
                                    <div class="comment mb-3" id="comments">
                                        {% for comment in post.get_obj_latest_comments %}
                                            <div class="comment_container">
                                                <span class="username text-primary">
                                                    <p class="comment-byline text-uppercase mb-1 small" id="{{ comment.object_pk }}">
                                                        <span class="small">-</span> <span class="username text-primary">{{comment.user_name }} - </span><span class="comment-datetime text-muted">{{comment.submit_date}}</span>
                                                    </p>
                                                </span>                                                                                                   
                                                <p class="comment-text">{{ comment.comment|urlize|linebreaks }}</p>
                                            </div>
                                        {% endfor %}
                                            <p>{{ post.get_obj_latest_comments.count }} <b>comments</b></p>
                                    </div>
                                </div>
                                {% if request.user.is_authenticated %}
                                    {% get_comment_form for post as form %}
                                    <div id="results"></div> <!-- errors go here -->
                                    <form id="cf" class="form-inline" action="{% url 'ajax_commenting' %}" method="post" onsubmit="return ajax_comment(event, this)">
                                        {% csrf_token %}
                                        {% for field in form %}
                                            {% if field.name == "timestamp" or field.name == "security_hash" or field.name == "object_pk" or field.name == "content_type" %}
                                                {{field}}
                                            {% endif %}
                                            {% if field.name == "name" %}
                                                <input type="text" value="{{request.user}}" name="name" maxlength="50" style="display: none;" id="id_name">
                                            {% endif %}
                                            {% if field.name|lower == "comment" %}
                                            <div class="d-flex">
                                                <div class="flex-grow-1">
                                                    <label class="sr-only" for="add-reply">Add Reply</label>
                                                    <input type="text" name="comment" class="form-control w-100 commenting_box" id="id_comment"
                                                        placeholder="">
                                                </div>
                                                <div class="ms-1"><button type="submit" name="submit" class="btn btn-primary btn-lg btn-reply"><i class="fas fa-reply"></i></button></div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        <script>
                                            function ajax_comment(e,t){
                                                e.preventDefault();
                                                var $comment_val = $("#id_comment", $(t)).val();
                                                var $sh = $("#id_security_hash", $(t)).val();
                                                var $op = $("#id_object_pk", $(t)).val();
                                                var $ct = $("#id_content_type", $(t)).val();
                                                var $ts = $("#id_timestamp", $(t)).val();
                                                var $current_card = $(t).parent();
                                                var $csrf = $('input[name="csrfmiddlewaretoken"]', $(t)).val();
                                                var $data = $(t).serialize();
                                                var $html_data = `
                                                    <div class="comm">
                                                        <span class="small">- Your Comment (Just Now)</span>                              
                                                        <p class="comment-text">${$comment_val}</p>
                                                    </div>
                                                `;
                                                
                                                if ($comment_val == ''){alert("comment inbox is empty");}
                                                else{
                                                    {% with request.user as user %} 
                                                        $.ajax({
                                                            url : "{% url 'ajax_commenting' %}",
                                                            type : "POST",
                                                            // data: $(this).serialize(),
                                                            data: $data,
                                                            success : success_handler,
                                                            error : errors_handler,
                                                        });
                                                        function success_handler(response) {
                                                            alert("commented succesfully");
                                                            last_comment = $('#comments', $current_card).children().last();
                                                            if ( $('#comments', $current_card).children().length > 0 ) {
                                                                last_comment.html($html_data);
                                                                console.log($(t).siblings().first());
                                                                //$('.text-section.mb-5', $current_card).children().first().removeClass("mb-5");
                                                                $(t).siblings().first().removeClass("mb-5");
                                                            }else{
                                                                $('#comments', $current_card).append($html_data);
                                                                console.log($(t).siblings().first());
                                                                //$('.text-section.mb-5', $current_card).children().first().removeClass("mb-5");
                                                                $(t).siblings().first().removeClass("mb-5");
                                                            };
                                                            $(t).trigger("reset");
                                                        };
                                                        function errors_handler(xhr,errmsg,err) {                         // handle a non-successful response
                                                            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                                                                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                                                            console.log(xhr.status + " the following is the response: " + xhr.responseText); // provide a bit more info about the error to the console
                                                        };
                                                    {% endwith %}
                                                };
                                            };
                                        </script>
                                    </form>
                                {% else %}
                                    <p class="small"><a href="/accounts/login/?next=/{{ object.slug }}">Login</a> to comment.  <i class="far fa-comment"></i></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="row">
                <div class="col-md-12">
                    <p>No posts to show. Go add some posts!</p>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
    
{% block library_css %}
{% endblock library_css %}

{% block extra_scripts %}
    // --- masonry ---
    let $grid = document.querySelector('.grid');

    let msnry = new Masonry( $grid, {
        itemSelector: 'none', // select none at first
        columnWidth: '.grid__col_sizer',
        gutter: '.grid__gutter_sizer',
        percentPosition: true,
        is_paginated: false,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
    });

    // initial items reveal
    imagesLoaded( $grid, function() {
        $grid.classList.remove('are-images-unloaded');
        msnry.options.itemSelector = '.grid__item';
        let items = $grid.querySelectorAll('.grid__item');
        msnry.appended( items );
    });

    var nextSlugs = [{% if is_paginated %}{% for page in paginator %}{% if page.has_next %}"?page={{ page.next_page_number }}",{% endif %}{% endfor %}{% endif %}
    ];

    function getPath() {
        let slug = nextSlugs[ this.loadCount ];
        if ( slug ) {
            return `${slug}`;
        }
    }

    //--------------- init Infinte Scroll ----------------------//
    let $container = $('.grid').infiniteScroll({
        path: getPath,
        append: '.grid__item',
        outlayer: msnry,
        prefill: false,
        history: false,
        status: '.page-load-status',
    });

    $( window ).scroll(function() {
       // console.log("Scrolled")
        
    });

{% endblock extra_scripts %}
