/***** VARIABLES  *************************/

:root {
    --red: rgba(255, 84, 84, 1);
}


/***** CARD  *****************************/

.ss-comment-section {
    max-height: 240px;
    overflow-y: auto
}
.navbar {
    background: var(--red) !important;
}


/***** GRID  *****************************/

.grid {
    max-width: 1400px;
    min-width: 1400px;
    margin: 0 auto;
}
.grid__col_sizer {
    width: 32%;
}
.grid__gutter-sizer {
    width: 2%;
}
.grid__item {
    width: 460px;
    margin-bottom: 20px;
    float: left;
}
.grid__item img {
    display: block;
    max-width: 100%;
}
.page-load-status {
    display: none;
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}
.loader-ellips {
    font-size: 20px;
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto;
}
.loader-ellips__dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #555;
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 1399px) {
    .grid {
	max-width: unset;
	min-width: unset;
    }
    .grid__col_sizer {
	width: 49%;
    }
}
@media screen and (min-width: 461px) {
    .grid__item, .grid__col_sizer {

    }
}
@media screen and (max-width: 460px) {
    .grid__item, .grid__col_sizer {
	width: 100%;
	min-width: 100%;
    }
}
.loader-ellips__dot:nth-child(1), .loader-ellips__dot:nth-child(2) {
    left: 0;
}
.loader-ellips__dot:nth-child(3) {
    left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
    left: 3em;
}
@keyframes reveal {
    from {
	transform: scale(0.001);
    } to {
	transform: scale(1);
    }
}
@keyframes slide {
    to {
	transform: translateX(1.5em)
    }
}
.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}
.loader-ellips__dot:nth-child(2), .loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}
.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

