{% extends "main.html" %}


{% block head %} 
    <title>My Posts</title>  
    
{% endblock head %}

{% block library_css %}
        .object.blog {box-shadow: 0 0 5px; margin: 16px; padding: 10px 32px;border-radius: 0 28px 28px; }
        .blog_list {display: block;}
{% endblock library_css %}

{% block content %}
    <h2 class="center">My Posts</h2>
    <div class="empty_line"></div>
    <div class="container">
        <div class="row blog_list">
            {% if object_list %}
                <ul class="list-group">
                    {% for topic in object_list %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a href="{{ topic.get_absolute_url }}">
                                {{ topic.title }}
                            </a>
                            <span class="badge bg-primary rounded-pill">
                            {{ topic.posts.all|length }}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="col-md-12">
                    <p>Oh, snap. Looks like we were too busy (serving the world) to build any Categories..!</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
