{% extends "main.html" %}


{% block head %} 
    <title>My indexes</title>  
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
{% endblock head %}

{% block library_css %}
        .object.blog {box-shadow: 0 0 5px; margin: 16px; padding: 10px 32px;border-radius: 0 28px 28px; }
        .blog_list {display: block;}
{% endblock library_css %}

{% block content %}
    <h2 class="center">My indexes</h2>
    <div class="empty_line"></div>
    <div class="container">
        <div class="row blog_list">
            {% if object_list %}
                {% for post in object_list %}
                    <div class="object blog col-4">
                        <a href="{{ post.get_absolute_url }}">
                            <div class="image">
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" width="{{ post.image.width }}" height="{{ post.image.height }}" alt="{{ post.image.alt }}" class="header_image" />
                                {% endif %}
                            </div>
                            <div class="text">
                                <h2 class="blog-list-title">{{ post.title }}</h2>
                                <p>{{ post.introduction|truncatewords:15 }}</p>
                            </div>
                            <div class="small footer">
                                {% if post.date_published %}
                                    {{ post.date_published }} by 
                                {% endif %}
                                <div class="author">{{post.creator}}</div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Oh, snap. Looks like we were too busy (serving the world) to build any indexes..!</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}