local_debug = True

local_secret_key = 'someSecretKeyHere'

CACHES = {
    'default': {
        'BACKEND': 'django.core.cache.backends.filebased.FileBasedCache',
        'LOCATION': '/var/tmp/socialstream',
        'TIMEOUT': 60 * 60,
        'OPTIONS': {'MAX_ENTRIES': 1000}
    },
}
