{% extends "main.html" %}

{% block content %}
    <h2>Posts</h2>
    {% comment %} <ul>
        {% for post in object_list %}
            <li><a href="{{ post.get_absolute_url }}"></a>{{ post.title }}</li>
        {% endfor %}
    </ul>
     {% endcomment %}
    <div class="container">
        {% if tag %}
            <div class="row">
                <div class="col-md-12">
                    <p>Viewing all blog posts by <span class="outline">{{ tag }}</span></p>
                </div>
            </div>
        {% endif %}

        {% if page.get_child_tags %}
            <ul class="blog-tags tags list-inline">
                {% for tag in page.get_child_tags %}
                    <li><a href="{{ tag.url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="row row-eq-height blog-list">
            {% if object_list %}
                {% for post in object_list %}
                    {% if post.get_parent_slug in request.get_full_path  %}
                        <li class="left_float blog-list-item">
                            <a href="{{ post.get_absolute_url }}">
                                <div class="image">
                                    {% if post.image %}
                                        <img src="{{ post.image.url }}" width="{{ post.image.width }}" height="{{ post.image.height }}" alt="{{ post.image.alt }}" class="header_image" />
                                    {% endif %}
                                </div>
                                <div class="text">
                                    <h2 class="blog-list-title">{{ post.title }}</h2>
                                    <p>{{ post.introduction|truncatewords:15 }}</p>
                                </div>
                                <div class="small footer">
                                    {% if post.date_published %}
                                        {{ post.date_published }} by 
                                    {% endif %}
                                    <div class="author">{{post.creator}}</div>
                                </div>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Oh, snap. Looks like we were too busy (serving the world) to write any blog posts. Sorry.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}