{% extends "main.html" %}

    {% block head %} 
                
        <title> This blog's Posts</title>  
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
    {% endblock head %}
    
    {% block library_css %}
    {% endblock library_css %}

    {% block head-extra %}{% endblock head-extra %}

    {% block body_class %}{% endblock body_class %}

    {% block messages %}{% endblock messages %}

    {% block header %}{% endblock header %}

    {% block content %}
        <h2 class="center">My Blog's Posts</h2>
        <div class="empty_line"></div>
        <div class="container-fluid">
            <div class="grid  infinite-container" >
                {% if object_list %}
                    <div class="grid-sizer"></div> <div class="gutter-sizer"></div>
                    {% for post in object_list %}
                        {% if post.get_parent_slug in request.get_full_path  %}
                            <div class="infinite-item grid-item {% if post.image.width < 650 %}grid-item--width2{% endif %}">
                                <div class="card">
                                    <a href="{{ post.get_absolute_url }}" class="inner">
                                            {% if post.image %} <img src="{{ post.image.url }}" width="100%" alt="{{ post.image.alt }}" class="header_image" /> {% endif %}
                                            <div class="text">
                                                <h3 class="blog-list-title">{{ post.title }}</h3>
                                                <p>{{ post.body|truncatewords:15 }}</p>
                                            </div>
                                            <div class="small footer">
                                                {% if post.date_published %}
                                                    {{ post.date_published }} by 
                                                {% endif %}
                                                <div class="author">{{post.creator}}</div>
                                            </div>

                                    </a>
                                </div>
                            </div>
                            <br> <br>
                        {% endif %}
                    {% endfor %}
                                        
                    {% if is_paginated %}
                        <ul class="pagination" style="position: absolute; bottom: -5%; left: 45%;">
                            {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                            {% endif %}
                            {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                            {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% else %}
                    <div class="col-md-12">
                        <p>Oh, snap. Looks like we were too busy (serving the world) to write any blog posts. Sorry.</p>
                    </div>
                {% endif %}
            </div>
        </div>     
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
        <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    {% endblock %}

    {% block extra_scripts %}
        $('.grid').masonry({
            // use outer width of grid-sizer for columnWidth
            columnWidth: '.grid-sizer',
            itemSelector: '.grid-item',
            horizontalOrder: true
        });
    {% endblock extra_scripts %}
